* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.quiz-title {
    width: 100%;
    background-color: darkslategray;
    color: white;
}

h1 {
    padding-top: 30px;
    font-family: 'Monoton', cursive;
    font-size: 40px;
}

h2, h3 {
    padding: 20px;
}

p {    
    font-size: 20px;
    padding: 10px;
}

.start-background {
    width: 100%;
    border: 5px solid #242732;
    background: url("images/background.jpg");
    background-size: 100%;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px #242732;
    padding: 20px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
}

button {
    height: 60px;
    width: 100px;
    font-style: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #242732;
    border: 5px solid #c74f1a;
    border-radius: 5px;
}

.score-keeper {
    display: none;
    height: 50px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.question-and-answer {
    display: flex none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}


.question-string {
    width: 100%;

}

.one-word-answer {
    font-size: 30px;
    font-style: bold;
}

 .answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer p {
    width: 100%;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.end {
    display: none;
    height: 500px;
    width: 100%;
}

@media screen and (min-width: 320px) {
      .quiz-title {
        height: 160px;
    }

    h1 {
        font-size: 40px;
        padding: 10px;
        padding-top: 40px;
    }    

    .start-page {
        height: 350px;
        width: 300px;
    }

    .start-background {
        height: 800px;
        width: 100%;
    }

    .question-string {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .score-keeper li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        list-style: none;
    }

    .answer p {
      padding-left: 10px;
      padding-right: 10px;
    }

    .answer p img {
      width: 300px;
    }
    
}

@media screen and (min-width: 768px) {
    .quiz-title {
        height: 100px;
        width: 100%;
    }

    h1 {
        font-size: 40px;
        padding: 30px;
    }

    .start-page {
        height: 300px;
        width: 500px;
    }

    .start-background {
        height: 1366px;
    }

    .question-string {
        width: 100%;
        padding: 30px;
    }

    .score-keeper li {
        display: inline-block;
        padding-left: 50px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 20px;
        list-style: none;
    }

    .answer p {
      padding-left: 50px;
      padding-right: 50px;
    }

    .answer p img {
        width: 500px;
    }
}

@media screen and (min-width: 1025px) {
    .quiz-title {
        height: 160px;
        width: 100%;
    }

    h1 {
        font-size: 60px;
        padding: 50px;
    }

    .start-background {
        height: 1404px;
    }

    .question-string {
        width: 100%;
        padding: 30px;
        padding-left: 300px;
        padding-right: 300px;

    }

    .score-keeper li {
        display: inline-block;
        padding-left: 50px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 20px;
        list-style: none;
    }


    .answer p {
        padding-left: 100px;
        padding-right: 100px;
    }

    .answer p img {
        width: 600px;
    }
}  